body {
    /* background-color: rgb(68, 39, 2); */
    background-color:burlywood;
}

.banner {
    text-align: center;
    /* padding: 10px; */
    background-color: black;
    height: 80px;
    vertical-align: middle;
    color: brown;
    border:2px solid brown;
}

/* barra de navegação do site */
.navegador {
    border: 2px solid rgb(129, 109, 57);
    padding: 5px 2% 5px 2%;
    margin: auto ;
    text-align: center;
    text-decoration: none;
    background-color: black;
}
.navegador a {
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: goldenrod;
    margin: 10px;
}

/* Remove as setinhas dos input tipo button */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Formulario de Login e Cadastro */
.divMensagem {
    background-color: red;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 12px;
    text-align: center;
    width: 80%;
    margin: 1% auto;
}
.divFormulario {
    /* background-color: pink; */
    display: block;
    width: 60%;
    margin: 10px auto ;
    padding: 20px;
}
.divFormulario label {
    /* background-color: blue; */
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: 10px 0;

}
.divFormulario input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
}
.divFormulario input[type=submit] {
    background-color: goldenrod;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
}
.divFormulario input:hover {
    transform: scale(1.05);
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
}


/* Loja de itens */
.select-personagem {
    width:100%;
    text-align: center;
}
.loja {
    /* width: 90%; */
    max-width: 90%;
    height: auto;
    /* margin: 0 auto; */
}

.bloco-loja {
    float: left;
}
.bloco-loja-2 {
    /* margin-left: auto; */
    float: right;
}


.tabela-loja {
    display: inline-block;
    background-color: brown;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
}
.tabela-loja td, .tabela-loja input {
    color: whitesmoke;
    background-color: black;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px;
    font-size: 16px;
}

.tabela-loja td:nth-child(2), 
.tabela-loja th:first-child {
    /* text-align: center;  */
}
.tabela-loja input{
    background-color: transparent;
    border:none;
}
.tabela-loja input[type=number]{
    max-width: 35px;
    text-align: center;
}
.tabela-loja input[type=submit]{
    display: inline-block;
}
.tabela-loja:last-child {
    float: right;
}

/*  Exibição da Area de magias  */
.exibicaoMagia {
    border-radius: 6px;
    border: 2px solid black;
    background-color: blueviolet;
    padding: 15px;
    float: right;
    width: 80%;
    margin: 5px auto;
    display: inline-block;
}
.exibicaoMagia h3 {
    text-align: start;
    margin-bottom: 5px ;
}
.exibicaoMagia strong, .exibicaoMagia p {
    display: inline;
    margin-left: 2%;
    word-wrap: break-word;
}
.exibicaoMagia div {
    border-bottom: 1px dashed black;
    max-width: 100%;
}
.exibicaoMagia button {
    padding: 2% 35% 2% 35%;
    border-radius: 6px;
    border:1px dashed black;
    background-color:transparent;
    font-weight: bold;
    font-size: 18px;
    color:white;
}
.exibicaoMagia span {
    float: right;
    font-size: 22px;
}
.exibicaoMagia a {
    text-decoration: none;
    color: red;
}


/* Exibição da parte de equipamentos */
.divEquipamentos {
    display: table;
    float: right;
    background-color: grey;
    width: 80%;
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}
.divEquipamentos p {
    display: inline-block;
    min-width: 15%;
    margin: 2px 10px;
}
.divEquipamentos {
}
.divEquipamentos span {
    float: right;
    font-size: 22px;
}
.divEquipamentos a {
    text-decoration: none;
    color: red;
}

/* Mexendo nos titulos dos Equipamentos apartir da classe divFormulario */
.divFormulario h2 button {
    float: right;
    width: 20%;
    border: 1px solid black;
    background-color: grey;
}


/* Popup container */
.popup {
    /* position: relative; */
    display: inline-block;
    cursor: pointer;
    width: 150px;
    padding-top: 1px;
    }
    /* The actual popup (appears on top) */
    .popup .popuptext {
    visibility: hidden;
    width: 600px;
    background-color: peachpuff;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 5px solid black;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    /* z-index: 1;
    bottom: 125%;
    left: 50%;
    margin:1%;
    margin-left: -80px; */
    }

    /* Popup arrow */
    .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    }

    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
    }

    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
    }

    @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
    }


.caixa {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.caixa-25 {
    width: 25%;
}
.caixa-40 {
    width: 40%;
}




