/* Menu Lateral da Ficha */
#lista_personagens {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: goldenrod;
    border: 5px double black;
    display:block;
    margin: 1% 1%;
    padding: 1%;
}
#lista_personagens div {
    text-align: center;
    background-color: goldenrod;
    border: 2px solid black;
    border-radius: 3px;
    margin: 3% auto;
    padding: 3%;
}
#lista_personagens a {
    display: inline-block;
    background-color: black;
    border-radius: 3px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    width: 90%;
    margin: 1%;
    padding: 1%;
    color: whitesmoke;
}
#lista_personagens a:last-child {
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

/* Ficha do Personagem */
#ficha {
    position:absolute;
    right: 0;
    width: 73%;
    display: inline-block;
    margin: 1% 1.5%;
    border: 4px double black;
    /* background-color: gold; */
    align-self: stretch;
    align-content: flex-start;
}
#ficha div {
    /* border-color: black;
    border:2px solid black ; */
    padding: 2%;
    display: inline-block;
    vertical-align: top;
}

/* Primeira Parte contendo as informações basicas */
#area_base {
}
#area_base h2{
    margin: 3px auto;
    font-size: 28px;
}

/* Área de Habilidades */
#area_habilidades {
    display: inline-block;
    padding: 3px;
    width: 130px;
    /* background-color: blueviolet; */
}
#area_habilidades label {
    display: block;
    margin: 5px auto;
    width: 110px;
    text-align: center;
}
#area_habilidades input {
    display: block;
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin: 3px auto;
}


/*  Classe Tabela  */
.tabela {
    /* border: 2px solid; */
    text-align: center;
    max-width: 200px;
}
.tabela th { 
    padding: 0 7px;
}
.tabela td {
    /* background-color: aqua; */
    border-bottom: 2px solid black;
    margin: 0px auto;
}
.tabela input {
    text-align: center;
    background-color: transparent;
    border: none;
    width: 40px;
}
.tabela p {
    margin: 0px;
}

/* Tabela para Habilidades, Caracteristicas de classe e Talentos */
.tabela_especial {
    text-align: center;
    display: block;
}
.tabela_especial td {
    /* background-color: aqua; */
    border-bottom: 2px solid black;
    margin: 0px auto;
}
.tabela_especial input {
    text-align: center;
    background-color: transparent;
    border: none;
}
.tabela_especial input{
    width: 100%;
    white-space: nowrap;
    overflow:visible;
}

.div_habilidades {
    /* background-color: purple; */
    text-align: left;
    min-width: 50%;
}
.div_habilidades h3 {
    text-align: start;
}

/*  Habilidades de Classe */
#area_habilidade_classe {
    background-color: coral;
    padding: 0;
    display: inline-block;
}

/* Classe dos para os input do tipo text e number */
.texto {
    display: inline-block;
    font-weight: bold;
    border-bottom: 2px solid black;
    /* background-color: aqua; */
    text-align: center;
    font-size: 20px;
    padding: 3px;
    margin: 1px;
    white-space: nowrap;
    max-width: 200px;
    vertical-align: bottom;
}
.texto:hover {
    position: sticky;
    right: auto;
    left: auto;
    font-size: 18px;
    background-color:goldenrod;
    text-align: center;
}
.texto input {
    width: 150px;
    background-color: transparent;
    border:none;
    text-align: center;
    color: white;
    max-width: 50%;
    white-space:normal;
    overflow:visible;
    margin-left: 5px;
}
.texto input:hover {
    right: 0;
    background-color: black;
    border:2px solid white;
    text-align: center;
    color: white;
}

.numero {
    /* background-color: blue; */
    font-weight: bold;
    font-size: 20px;
    margin: 1px;
    border-bottom: 2px solid black;
    vertical-align: bottom;
    white-space: nowrap;
    max-width: 200px;
}
.numero input {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
    max-width: 30px;
}


/* Deixando Todos os H3 sem margem */
h3 {
    margin:1px;
    text-align: center;
}