<div name='area_caracteristicas_raciais' class="div_habilidades">
    <h3>Caracteísticas Raciais</h3>
    <table id="tabela_c_racias" class="tabela_especial">
        <tr>
            {% if not cara_raciais %}
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
            {% endif %}
                
            {% if cara_raciais %}
                {% for cr in cara_raciais %}
                </tr>
                    <td>
                        <div class="popup" onmouseover="myFunction( '{{cr}}' )">
                            <input type="text" name="cara_raciais_classe" id="cara_raciais_classe" value="{{cr.habilidade}}">
                            <input type="hidden" name="des_cara_raciais_classe" id="des_cara_raciais_classe" value="{{cr.descricao}}">
                            <span class="popuptext" id="{{cr}}">{{cr.descricao}}</span>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td><input type="text" name="cara_raciais_classe" id="cara_raciais_classe"></td>
                <td><input type="text" name="des_cara_raciais_classe" id="des_cara_raciais_classe"></td>
            </tr>
            {% endif %}
    </table>
    <button type="button" id="rem_c_racias" onclick="remove_habilidade('tabela_c_racias')">-</button>
    <button type="button" id="add_c_racias" onclick="add_habilidade('tabela_c_racias','cara_raciais_classe')" >+</button>
            
</div>