<div id="area_teste_resistencia" >
    <h3>Teste De Resistencia</h3>
    <table class="tabela">
        <tr>
            <th>TR</th>
            <th>Prof</th>
            <th>Outros</th>
            {% if base %}
            <th>Total</th>
            {% endif %}
        </tr>
        <tr>
            <td>FOR</td>
            <td><input type="checkbox" name="res_for" id="res_for" 
                {% if base.res_for %} checked {% endif %} value="True"></td>
            <td><input type="number" name="ores_for" id="ores_for" 
                {% if base.res_for %} value="{{base.ores_for}}" 
                {% else %} value="0" {% endif %}></td>
            <td ><p>{{base.valor_res_for}}</p></td>
        </tr>
        <tr>
            <td>DES</td>
            <td><input type="checkbox" name="res_des" id="res_des" 
                {% if base.res_des %} checked {% endif %} value="True"></td>
            <td><input type="number" name="ores_des" id="ores_des" 
                {% if base.ores_des %} value="{{base.ores_des}}" 
                {% else %} value="0" {% endif %}></td>
            <td><p>{{base.valor_res_des}}</p></td>
        </tr>
        <tr>
            <td>CONS</td>
            <td><input type="checkbox" name="res_cons" id="res_cons" 
                    {% if base.res_cons %} checked {% endif %} value="True"></td>
            <td><input type="number" name="ores_cons" id="ores_cons" 
                {% if base.ores_cons %} value="{{base.ores_cons}}" 
                {% else %} value="0" {% endif %}></td>
            <td><p>{{base.valor_res_cons}}</p></td>
        </tr>
        <tr>
            <td>INT</td>
            <td><input type="checkbox" name="res_int" id="res_int"
                    {% if base.res_int %} checked {% endif %} value="True"></td>
            <td><input type="number" name="ores_int" id="ores_int" 
                {% if base.ores_int %} value="{{base.ores_int}}" 
                {% else %} value="0" {% endif %}></td>
            <td><p>{{base.valor_res_int}}</p></td>
        </tr>
        <tr>
            <td>SAB</td>
            <td><input type="checkbox" name="res_sab" id="res_sab" 
                {% if base.res_sab %} checked {% endif %} value="True"></td>
            <td><input type="number" name="ores_sab" id="ores_sab" 
                {% if base.ores_sab %} value="{{base.ores_sab}}" 
                {% else %} value="0" {% endif %}></td>
            <td><p>{{base.valor_res_sab}}</p></td>
        </tr>
        <tr>
            <td>CAR</td>
            <td><input type="checkbox" name="res_car" id="res_car" 
                {% if base.res_car %} checked {% endif %} value="True"></td>
            <td><input type="number" name="ores_car" id="ores_car" 
                {% if base.ores_car %} value="{{base.ores_car}}" 
                {% else %} value="0" {% endif %}></td>
            <td><p>{{base.valor_res_car}}</p></td>
        </tr>
    </table>
</div>