<form id="SalvarItens" method="POST" action="{% url 'inventario_update' %}">{% csrf_token %}</form>
<div name="area_inventario"
    style="
        position:fixed;
        right: 0;
        margin:10px; 
        padding: 35px;
        ">
    <table id='lista_compra' name='lista_compra' class="tabela-loja">
        <input form="SalvarItens"  type="hidden" name="personagem" value="{{ personagem.nome_personagem }}">
        <!-- {% if base.id %} 
        {% else %} value="{{ pid }}" {% endif %}> -->
        <tr>
            <th>Nome</th>
            <th>Quant.</th>
            <th>valor</th>
            <th>Peso</th>
            <th>Ações</th>
        </tr>
        {% for item in inventario%}
            <tr id='lc_{{item.nome_item}}' name='itemPegar'>
                <td>
                    <input form="SalvarItens" type="text" name="ItemNome" id="{{item.nome_item}}_N" value="{{item.nome_item}}">
                </td>
                <td>
                    <input form="SalvarItens" type="number" name="itemQuantidade" id="{{item.nome_item}}_Q" value="{{item.quantidade}}">
                </td>
                <td>{{item.valor}} {{item.moeda}}</td>
                <td>{{item.peso}} kg</td>
                <td style=" border:3px solid black;">
                    <button type="button" id="rem_item" onclick="remove_item('{{item.nome_item}}')">-</button>
                    <button type="button" id="add_item" onclick="add_item('{{item.nome_item}}')">+</button>
                </td>
                <input form="SalvarItens" type="hidden" id="moeda" value="{{item.moeda}}">
                <input form="SalvarItens" type="hidden" name='iid' value="{{item.item_id}}">
                <input form="SalvarItens" type="hidden" name='valor_base' value="{{item.valor}}">
                <input form="SalvarItens" type="hidden" name='peso_base' value="{{item.peso}}">
            </tr> 
        {% endfor %}
    </table>
    <input form="SalvarItens" type="submit" value="Salvar">
</div>

<script>


    function remove_item(item) {
        // Pegando os itens e seus valores bases
        const linhaItem = window.document.getElementById(`lc_${item}`)
        const quantidade = window.document.getElementById(`${item}_Q`)
        var moeda = linhaItem.getElementsByTagName('input')[2].value
        var valor_base = linhaItem.getElementsByTagName('input')[4].value
        var peso_base = linhaItem.getElementsByTagName('input')[5].value.replace(',','.')
        
        if(quantidade.value >= 1){
            // Subtraindo em 1 o valor da quantidade
            quantidade.value --
            
            // Valor
            linhaItem.getElementsByTagName('td')[2].innerText = `${quantidade.value * valor_base} ${moeda}`
            // Peso
            linhaItem.getElementsByTagName('td')[3].innerText = `${peso_base * quantidade.value} kg`
            
        }else{linhaItem.remove()}
    }

    function add_item(item) {
        const linhaItem = window.document.getElementById(`lc_${item}`)
        var quantidade = window.document.getElementById(`${item}_Q`)
        var moeda = linhaItem.getElementsByTagName('input')[2].value
        var valor_base = linhaItem.getElementsByTagName('input')[4].value
        var peso_base = linhaItem.getElementsByTagName('input')[5].value.replace(',','.')

        quantidade.value ++
        // Valor
        linhaItem.getElementsByTagName('td')[2].innerText = `${quantidade.value * valor_base} ${moeda}`
        // Peso
        linhaItem.getElementsByTagName('td')[3].innerText = `${peso_base * quantidade.value} kg`
    }
</script>