<div name="area_teste_resistencia" >
    <h3>Teste De Resistencia</h3>
    <table>
        <tr>
            <th>TR</th>
            <th>Prof</th>
            <th>Outros</th>
            <th>Total</th>
        </tr>
        <tr>
            <th>FOR</th>
            {% if base.res_for %}
                <th><input type="checkbox" name="res_for" id="res_for" checked value="True"></th>
            {% else %}
                <th><input type="checkbox" name="res_for" id="res_for" value="True"></th>
            {% endif %}
            
            <th><input type="number" name="ores_for" id="ores_for" value="{{base.ores_for}}"></th>
            <th><p>{{base.valor_res_for}}</p></th>
        </tr>
        <tr>
            <th>DES</th>
                {% if base.res_des %}
                    <th><input type="checkbox" name="res_des" id="res_des" checked value="True"></th>
                {% else %}
                    <th><input type="checkbox" name="res_des" id="res_des" value="True"></th>
                {% endif %}
            <th><input type="number" name="ores_des" id="ores_des" value="{{base.ores_des}}"></th>
            <th><p>{{base.valor_res_des}}</p></th>
        </tr>
        <tr>
            <th>CONS</th>
            <th>
                {% if base.res_cons %}
                    <input type="checkbox" name="res_cons" id="res_cons" checked value="True">
                {% else %}
                    <input type="checkbox" name="res_cons" id="res_cons" value="True">
                {% endif %}
            </th>
            <th><input type="number" name="ores_cons" id="ores_cons" value="{{base.ores_cons}}"></th>
            <th><p>{{base.valor_res_cons}}</p></th>
        </tr>
        <tr>
            <th>INT</th>
            <th>
                {% if base.res_int %}
                    <input type="checkbox" name="res_int" id="res_int" checked value="True">
                {% else %}
                    <input type="checkbox" name="res_int" id="res_int" value="True">
                {% endif %}
            </th>
            <th><input type="number" name="ores_int" id="ores_int" value="{{base.ores_int}}"></th>
            <th><p>{{base.valor_res_int}}</p></th>
        </tr>
        <tr>
            <th>SAB</th>
            <th>
                {% if base.res_sab %}
                    <input type="checkbox" name="res_sab" id="res_sab" checked value="True">
                {% else %}
                    <input type="checkbox" name="res_sab" id="res_sab" value="True">
                {% endif %}
            </th>
            <th><input type="number" name="ores_sab" id="ores_sab" value="{{base.ores_sab}}"></th>
            <th><p>{{base.valor_res_sab}}</p></th>
        </tr>
        <tr>
            <th>CAR</th>
            <th>
                {% if base.res_car %}
                    <input type="checkbox" name="res_car" id="res_car" checked value="True">
                {% else %}
                    <input type="checkbox" name="res_car" id="res_car" value="True">
                {% endif %}
            </th>
            <th><input type="number" name="ores_car" id="ores_car" value="{{base.ores_car}}"></th>
            <th><p>{{base.valor_res_car}}</p></th>
        </tr>
    </table>
</div>