<div id="area_habilidades">
    <h3>Habilidades</h3>
    <label class="numero">Força <input type="number" name="forca" 
       {% if base.forca %} value="{{base.forca}}"  {% else %} value="0" {% endif %}> 
    </label>
    <label class="numero">Destreza<input type="number" name="destreza" 
        {% if base.forca %} value="{{base.destreza}}" {% else %} value="0" {% endif %}>
    </label>
    <label class="numero">Constituição<input type="number" name="constituicao" 
        {% if base.forca %} value="{{base.constituicao}}" {% else %} value="0" {% endif %}> 
    </label>
    <label class="numero">Integiência<input type="number" name="inteligencia" 
        {% if base.forca %} value="{{base.inteligencia}}" {% else %} value="0" {% endif %}>
    </label>
    <label class="numero">Sabedoria<input type="number" name="sabedoria" 
        {% if base.forca %} value="{{base.sabedoria}}"{% else %} value="0" {% endif %}>
    </label>
    <label class="numero">Carisma<input type="number" name="carisma" 
        {% if base.forca %} value="{{base.carisma}}" {% else %} value="0" {% endif %}>
    </label>
</div>