<div name="area_habilidades">
    <h3>Habilidades</h3>
    <label>Força<input type="number" name="forca" value="{{base.forca}}"> </label>
    <label>Destreza<input type="number" name="destreza" value="{{base.destreza}}"> </label>
    <label>Constituição<input type="number" name="constituicao" value="{{base.constituicao}}"> </label>
    <br>
    <label>Integiência<input type="number" name="inteligencia" value="{{base.inteligencia}}"> </label>
    <label>Sabedoria<input type="number" name="sabedoria" value="{{base.sabedoria}}"> </label>
    <label>Carisma<input type="number" name="carisma" value="{{base.carisma}}"> </label>
</div>