{% extends 'base.html' %}
{% block base %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'criar_ficha.css' %}">
    
    <div id='criar_ficha'>
    <form method="POST" action="{% url 'cria_ficha' %}">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="divMensagem">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %} 
        {% include 'ded5e/partials/ficha/base.html' %}
        <div class="caixa">
            {% include 'ded5e/partials/ficha/atributos.html' %}
            {% include 'ded5e/partials/ficha/testeResistencia.html' %}
            {% include 'ded5e/partials/ficha/pericias.html' %}
        </div>
        
        {% include 'ded5e/partials/ficha/habilidadesClasse.html' %}
        {% include 'ded5e/partials/ficha/caracteristicasRaciais.html' %}
        {% include 'ded5e/partials/ficha/talentos.html' %}
       
        <script>
        let add_h_classe = window.document.getElementById('add_h_classe')
        let rem_h_classe = window.document.getElementById('rem_h_classe')

        add_h_classe.addEventListener('click', function (event) {
            let tabela = window.document.getElementById('tabela_h_classe')
            let row = tabela.insertRow(-1);
            row.insertCell(0).innerHTML = `<th><input type="text" name="habilidade_classe" id="habilidade_classe"></th>`;
            row.insertCell(1).innerHTML = `<th><input type="text" name="des_habilidade_classe" id="des_habilidade_classe"></th>`;
            
        })
    
        rem_h_classe.addEventListener('click', function (event) {
            let tabela = window.document.getElementById('tabela_h_classe')
            tabela.deleteRow(-1)
        })

        </script>
        <script>
            let add_talentos = window.document.getElementById('add_talentos')
            let rem_talentos = window.document.getElementById('rem_talentos')
    
            add_talentos.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_talentos')
                let row = tabela.insertRow(-1);
                row.insertCell(0).innerHTML = `<th><input type="text" name="talentos_classe" id="talentos_classe"></th>`;
                row.insertCell(1).innerHTML = `<th><input type="text" name="des_talentos_classe" id="des_talentos_classe"></th>`;
                
            })
            rem_talentos.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_talentos')
                tabela.deleteRow(-1)
            })
        </script>
        <script>
            let add_c_racias = window.document.getElementById('add_c_racias')
            let rem_c_racias = window.document.getElementById('rem_c_racias')
    
            add_c_racias.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_c_racias')
                let row = tabela.insertRow(-1);
                row.insertCell(0).innerHTML = `<th><input type="text" name="cara_raciais_classe" id="cara_raciais_classe"></th>`;
                row.insertCell(1).innerHTML = `<th><input type="text" name="des_cara_raciais_classe" id="des_cara_raciais_classe"></th>`;
                
            })
        
            rem_c_racias.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_c_racias')
                tabela.deleteRow(-1)
            })
    
        </script>

        <input type="submit">
    </form>
{%endblock%}