<div name='area_talentos' class="div_habilidades" >
    <h3>Talentos</h3>
    <table id="tabela_talentos" class="tabela_especial">
        {% if not talentos %}
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        {% endif %}
        
        {% if talentos %}
            {% for talento in talentos%}    
                </tr>
                    <td>
                        <div class="popup" onmouseover="myFunction( '{{talento}}' )">
                            <input type="text" name="talentos_classe" id="talentos_classe" value="{{talento.habilidade}}">
                            <input type="hidden" name="des_talentos_classe" id="des_talentos_classe" value="{{talento.descricao}}">
                            <span class="popuptext" id="{{talento}}">{{talento.descricao}}</span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {%else%}
        <tr>
            <td><input type="text" name="talentos_classe" id="talentos_classe"></td>
            <td><input type="text" name="des_talentos_classe" id="des_talentos_classe"></td>
        </tr>
        {%endif%}
    </table>
    <button type="button" id="rem_talentos" onclick="remove_habilidade('tabela_talentos')">-</button> 
    <button type="button" id="add_talentos" onclick="add_habilidade('tabela_talentos','talentos_classe')">+</button>
            
</div>