<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    
    <form method="POST" action="{% url 'cadastro' %}">
        {% csrf_token %}
        <label>Nome do Usuario:<input type="text" name="nome_usuario" id="nome_usuario"></label>
        <label>Nick:<input type="text" name="apelido_usuario" id="apelido_usuario"></label>
        <label>Email:<input type="email" name="email_usuario" id="email_usuario"></label>
        <br>
        <label>Senha:<input type="password" name="senha1_usuario" id="senha1_usuario"></label>
        <label>Confirmar Senha:<input type="password" name="senha2_usuario" id="senha2_usuario"></label>
        <input type="submit" value="Entrar">
    </form>   
    {% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 
</body>
    
    
</html>