<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Personagem</title>
</head>
<body>
    <a href="{% url 'index' %}">Index</a>
    <form method="POST" action="{% url 'cria_ficha' %}">
        {% csrf_token %}
        <div name="area_base">
            <h3>Informações Básicas</h3>
            <label>Nome Personagem<input type="text" name="nome_personagem"></label>
            <label>Raça<input type="text" name="raca"></label>
            <label>Classe<input type="text" name="classe"></label>
            <label>Arquetipo<input type="text" name="arquetipo"></label>
            <label>Nível<input type="number" name="nivel"></label>
            <br>
            <label>Antecedente<input type="text" name="antecedente"></label>
            <label>Tendência<input type="text" name="tendencia"></label>
            <label>Divindade<input type="text" name="divindade"></label>
            <label>Terra Natal<input type="text" name="terra_natal"></label>
            <label>Iniciativa<input type="number" name="iniciativa"></label>
            <label>C.A<input type="number" name="c_a"></label>
            <br>
            <label>Deslocamento<input type="number" name="deslocamento"></label>
            <label>Inspiração<input type="number" name="inspiracao"></label>
            <label>Proficiencia<input type="number" name="proficiencia"></label>
            <label>PV Maximo<input type="number" name="pvmax"></label>
            <label>PV Atual<input type="number" name="pvatual"></label>
            <label>Dados de Vida<input type="number" name="dv"></label>
            <br>
            <label>Idiomas<input type="text" name="idiomas"></label>
        </div>
        <div name="habilidades">
            <h3>Habilidades</h3>
            <label>Força<input type="number" name="forca"> </label>
            <label>Destreza<input type="number" name="destreza"> </label>
            <label>Constituição<input type="number" name="constituicao"> </label>
            <br>
            <label>Integiência<input type="number" name="inteligencia"> </label>
            <label>Sabedoria<input type="number" name="sabedoria"> </label>
            <label>Carisma<input type="number" name="carisma"> </label>
        </div>
        <div name="area_teste_resistencia">
            <h3>Teste De Resistencia</h3>
            <table>
                <tr>
                    <th>TR</th>
                    <th>Prof</th>
                    <th>Outros</th>
                </tr>
                <tr>
                    <th>FOR</th>
                    <th><input type="hidden" name="tr_for" id="tr_for" value='False'></th>
                    <th><input type="checkbox" name="tr_for" id="tr_for" value='True'></th>
                    <th><input type="number" name="otr_for" id="otr_for" value="0"></th>
                </tr>
                <tr>
                    <th>DES</th>
                    <th><input type="hidden" name="tr_des" id="tr_des" value='False'></th>
                    <th><input type="checkbox" name="tr_des" id="tr_des" value='True'></th>
                    <th><input type="number" name="otr_des" id="otr_des" value="0"></th>
                </tr>
                <tr>
                    <th>CONS</th>
                    <th><input type="hidden" name="tr_cons" id="tr_cons" value='False'></th>
                    <th><input type="checkbox" name="tr_cons" id="tr_cons" value='True'></th>
                    <th><input type="number" name="otr_cons" id="otr_cons" value="0"></th>
                </tr>
                <tr>
                    <th>INT</th>
                    <th><input type="hidden" name="tr_int" id="tr_int" value='False'></th>
                    <th><input type="checkbox" name="tr_int" id="tr_int" value='True'></th>
                    <th><input type="number" name="otr_int" id="otr_int" value="0"></th>
                </tr>
                <tr>
                    <th>SAB</th>
                    <th><input type="hidden" name="tr_sab" id="tr_sab" value='False'></th>
                    <th><input type="checkbox" name="tr_sab" id="tr_sab" value='True'></th>
                    <th><input type="number" name="otr_sab" id="otr_sab" value="0"></th>
                </tr>
                <tr>
                    <th>CAR</th>
                    <th><input type="hidden" name="tr_car" id="tr_car" value='False'></th>
                    <th><input type="checkbox" name="tr_car" id="tr_car" value='True'></th>
                    <th><input type="number" name="otr_car" id="otr_car" value="0"></th>
                </tr>
            </table>
        </div>
        <div name="area_pericias">
            <h3>Pericias</h3>
            <table style="display: inline-block;">
                <tr>
                    <th>Pericia</th>
                    <th>Prof</th>
                    <th>Outros</th>
                </tr>
                <tr>
                    <th>Acrobacia</th>
                    <th><input type="hidden" name="acrobacia" id="acrobacia" value='False'></th>
                    <th><input type="checkbox" name="acrobacia" id="acrobacia" value='True'></th>
                    <th><input type="number" name="o_acrobacia" id="o_acrobacia" value="0"></th>
                </tr>
                <tr>
                    <th>Adestrar Animais</th>
                    <th><input type="hidden" name="adestrar_animais" id="adestrar_animais" value='False'></th>
                    <th><input type="checkbox" name="adestrar_animais" id="adestrar_animais" value='True'></th>
                    <th><input type="number" name="o_adestrar_animais" id="o_adestrar_animais" value="0"></th>
                </tr>
                <tr>
                    <th>Arcanismo</th>
                    <th><input type="hidden" name="arcanismo" id="arcanismo" value='False'></th>
                    <th><input type="checkbox" name="arcanismo" id="arcanismo" value='True'></th>
                    <th><input type="number" name="o_arcanismo" id="o_arcanismo" value="0"></th>
                </tr>
                <tr>
                    <th>Atletismo</th>
                    <th><input type="hidden" name="atletismo" id="atletismo" value='False'></th>
                    <th><input type="checkbox" name="atletismo" id="atletismo" value='True'></th>
                    <th><input type="number" name="o_atletismo" id="o_atletismo" value="0"></th>
                </tr>
                <tr>
                    <th>Atuação</th>
                    <th><input type="hidden" name="atuacao" id="atuacao" value='False'></th>
                    <th><input type="checkbox" name="atuacao" id="atuacao" value='True'></th>
                    <th><input type="number" name="o_atuacao" id="o_atuacao" value="0"></th>
                </tr>
                <tr>
                    <th>Enganação</th>
                    <th><input type="hidden" name="enganacao" id="enganacao" value='False'></th>
                    <th><input type="checkbox" name="enganacao" id="enganacao" value='True'></th>
                    <th><input type="number" name="o_enganacao" id="o_enganacao" value="0"></th>
                </tr>
                <tr>
                    <th>Furtividade</th>
                    <th><input type="hidden" name="furtividade" id="furtividade" value='False'></th>
                    <th><input type="checkbox" name="furtividade" id="furtividade" value='True'></th>
                    <th><input type="number" name="o_furtividade" id="o_furtividade" value="0"></th>
                </tr>
                <tr>
                    <th>História</th>
                    <th><input type="hidden" name="historia" id="historia" value='False'></th>
                    <th><input type="checkbox" name="historia" id="historia" value='True'></th>
                    <th><input type="number" name="o_historia" id="o_historia" value="0"></th>
                </tr>
                <tr>
                    <th>Intimidação</th>
                    <th><input type="hidden" name="intimidacao" id="intimidacao" value='False'></th>
                    <th><input type="checkbox" name="intimidacao" id="intimidacao" value='True'></th>
                    <th><input type="number" name="o_intimidacao" id="o_intimidacao" value="0"></th>
                </tr>
            </table>
            <table style="display: inline-block;">
                <tr>
                    <th>Pericia</th>
                    <th>Prof</th>
                    <th>Outros</th>
                </tr>
                <tr>
                    <th>Intuição</th>
                    <th><input type="hidden" name="intuicao" id="intimidacao" value='False'></th>
                    <th><input type="checkbox" name="intuicao" id="intimidacao" value='True'></th>
                    <th><input type="number" name="o_intuicao" id="o_intimidacao" value="0"></th>
                </tr>
                <tr>
                    <th>Investigação</th>
                    <th><input type="hidden" name="investigação" id="investigação" value='False'></th>
                    <th><input type="checkbox" name="investigação" id="investigação" value='True'></th>
                    <th><input type="number" name="o_investigação" id="o_investigação" value="0"></th>
                </tr>
                <tr>
                    <th>Medicina</th>
                    <th><input type="hidden" name="medicina" id="medicina" value='False'></th>
                    <th><input type="checkbox" name="medicina" id="medicina" value='True'></th>
                    <th><input type="number" name="o_medicina" id="o_medicina" value="0"></th>
                </tr>
                <tr>
                    <th>Natureza</th>
                    <th><input type="hidden" name="natureza" id="natureza" value='False'></th>
                    <th><input type="checkbox" name="natureza" id="natureza" value='True'></th>
                    <th><input type="number" name="o_natureza" id="o_natureza" value="0"></th>
                </tr>
                <tr>
                    <th>Percepção</th>
                    <th><input type="hidden" name="percepcao" id="percepcao" value='False'></th>
                    <th><input type="checkbox" name="percepcao" id="percepcao" value='True'></th>
                    <th><input type="number" name="o_percepcao" id="o_percepcao" value="0"></th>
                </tr>
                <tr>
                    <th>Persuasão</th>
                    <th><input type="hidden" name="persuasao" id="persuasao" value='False'></th>
                    <th><input type="checkbox" name="persuasao" id="persuasao" value='True'></th>
                    <th><input type="number" name="o_persuasao" id="o_persuasao" value="0"></th>
                </tr>
                <tr>
                    <th>Prestidigitar</th>
                    <th><input type="hidden" name="prestidigitar" id="prestidigitar" value='False'></th>
                    <th><input type="checkbox" name="prestidigitar" id="prestidigitar" value='True'></th>
                    <th><input type="number" name="o_prestidigitar" id="o_prestidigitar" value="0"></th>
                </tr>
                <tr>
                    <th>Religião</th>
                    <th><input type="hidden" name="religiao" id="religiao" value='False'></th>
                    <th><input type="checkbox" name="religiao" id="religiao" value='True'></th>
                    <th><input type="number" name="o_religiao" id="o_religiao" value="0"></th>
                </tr>
                <tr>
                    <th>Sobrevivência</th>
                    <th><input type="hidden" name="sobrevivencia" id="sobrevivencia" value='False'></th>
                    <th><input type="checkbox" name="sobrevivencia" id="sobrevivencia" value='True'></th>
                    <th><input type="number" name="o_sobrevivencia" id="o_sobrevivencia" value="0"></th>
                </tr>
            </table>

        </div>
        <div name="area_habilidade_classe"
        style="display: inline-block; margin-right: 10px; border-color: black; border:2px solid black ; padding: 10px;">
            <h3>Habilidades De Classe</h3>
            <table id="tabela_h_classe">
                <tr>
                    <th>H.Classe</th>
                    <th>Opções</th>
                    <th><button type="button" id="rem_h_classe" >-</button></th>
                    <th><button type="button" id="add_h_classe" >+</button></th>
                </tr>
                    {% if habilidades_classe %}
                        {% for h in habilidades %}
                        <form method="POST" action="{% url 'testa_habilidade' %}">
                        {% csrf_token %}
                                <tr>
                                    <th><input type="text" name="habilidade_classe" id="habilidade_classe" value="{{h}}"></th>
                                    <input type="hidden" name="id" value="{{h.id}}">
                                    <th><input type="submit" value="Salvar"></th>
                                
                                </tr>
                        </form>
                        {%endfor%}
                    {% else %}
                    <th><input type="text" name="habilidade_classe" id="habilidade_classe"></th>
                    <th><input type="submit" value="Salvar"></th>

                    {% endif %}
                </tr>
            </table>

        </div>
        <script>
        let add_h_classe = window.document.getElementById('add_h_classe')
        let rem_h_classe = window.document.getElementById('rem_h_classe')

        add_h_classe.addEventListener('click', function (event) {
            let tabela = window.document.getElementById('tabela_h_classe')
            let row = tabela.insertRow(-1);
            row.insertCell(0).innerHTML = `<th><input type="text" name="habilidade_classe" id="habilidade_classe"></th>`;
            row.insertCell(1).innerHTML = `<th><input type="submit" value="Salvar"></th>`;
            
        })
    
        rem_h_classe.addEventListener('click', function (event) {
            let tabela = window.document.getElementById('tabela_h_classe')
            tabela.deleteRow(-1)
        })

        </script>
        <div name='area_talentos'
        style="display: inline-block; margin-right: 10px; border-color: black; border:2px solid black ; padding: 10px;">
            <h3>Talentos</h3>
            <table id="tabela_talentos">
                <tr>
                    <th>Talentos 
                        <button type="button" id="rem_talentos" >-</button> 
                        <button type="button" id="add_talentos" >+</button>
                    </th>
                </tr>
                    <th><input type="text" name="talentos_classe" id="talentos_classe"></th>
                </tr>
            </table>
        </div>
        <script>
            let add_talentos = window.document.getElementById('add_talentos')
            let rem_talentos = window.document.getElementById('rem_talentos')
    
            add_talentos.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_talentos')
                let row = tabela.insertRow(-1);
                row.insertCell(0).innerHTML = `<th><input type="text" name="talentos_classe" id="talentos_classe"></th>`;
                
            })
            rem_talentos.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_talentos')
                tabela.deleteRow(-1)
            })
        </script>

        <div name='area_caracteristicas_raciais'
        style="display: inline-block; margin-right: 10px; border-color: black; border:2px solid black ; padding: 10px;">
            <h3>Características Raciais</h3>
            <table id="tabela_c_racias">
                <tr>
                    <th>Caracteísticas Raciais
                        <button type="button" id="rem_c_racias" >-</button>
                        <button type="button" id="add_c_racias" >+</button>
                    </th>
                </tr>
                    <th><input type="text" name="cara_raciais_classe" id="cara_raciais_classe"></th>
                </tr>
            </table>
        </div>
        <script>
            let add_c_racias = window.document.getElementById('add_c_racias')
            let rem_c_racias = window.document.getElementById('rem_c_racias')
    
            add_c_racias.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_c_racias')
                let row = tabela.insertRow(-1);
                row.insertCell(0).innerHTML = `<th><input type="text" name="cara_raciais_classe" id="cara_raciais_classe"></th>`;
                
            })
        
            rem_c_racias.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_c_racias')
                tabela.deleteRow(-1)
            })
    
        </script>
        <input type="submit">
    </form>
    

</body>
</html>