<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
</head>
<body>
    <a href="{% url 'index' %}">Index</a>
    <h1>Testando a adição de Habilidades</h1>
    <table>
        <tr>
            <th>Talento</th>
            <th>ID</th>
            <th>Personagem</th>
            <th>Editar</th>
        </tr>
        {% for h in habilidades %}
        <form method="POST" action="{% url 'testa_habilidade' %}">
        {% csrf_token %}
            
                <tr>
                    <th><input type="text" name="habilidade_classe" id="habilidade_classe" value="{{h}}"></th>
                    <th>{{h.id}}</th>
                    <th>{{h.personagem}}</th>
                    <input type="hidden" name="id" value="{{h.id}}">
                    <th><input type="submit" value="Salvar"></th>
                </tr>
            
        </form>
        {%endfor%}  
        </tr>  
    </table>
</body>
</html>