{% extends 'base.html' %}
{% block base %}

    <div class="divFormulario">
        <form action="{% url 'login_view' %}" method="post">
        {%csrf_token%}
            <label class="caixa">Nome <input type="text" name="nome_usuario" id="nome_usuario" class="caixa_texto"></label>
            <label class="caixa">Senha <input type="password" name="senha_usuario" id="senha_usuario" class="caixa_texto"></label>
            <input type="submit" value="Entrar" class="botao">
        </form>
    </div>
    
{%endblock%}