
{% extends 'base.html' %}
{% block base %}
    <div class="select-personagem">
        <h4>Selecione um personagem:</h4>
        <form >
            <select name="personagem" id="personagem">
            {% for personagem in personagens %}
                <option value="{{personagem.nome_personagem}}">{{personagem.nome_personagem}}</option>
            {%endfor%}
            </select>
            <input type="submit" value="Selecionar">
        </form>
    </div>

        <div class="loja">
            <div class="bloco-loja" >
                <table id="tabela_inventario" class="tabela-loja">
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Peso</th>
                        <th>Ações</th>
                    </tr>
                    {% for item in itens%}
                        <tr id="{{item.nome}}">
                            <td>
                                <div class="popup" onclick="funcPopup( 'pop_{{item.nome}}' )">
                                    <span>{{item.nome}}</span>
                                    <span class="popuptext" id="pop_{{item.nome}}">{{item.descricao}}</span>
                                </div>
                            </td>
                            <td name="valor">{{item.valor}} {{item.moeda}}</td>
                            <td name="peso">{{item.peso}} kg</td>
                            <td>
                                <button type="button" onclick="remove_item('{{item.nome}}')">-</button>
                                <button type="button" onclick="add_item('{{item.nome}}')">+</button>
                            </td>
                            <input type="hidden" id="moeda" value="{{item.moeda}}">
                            <input type="hidden" id="{{item.nome}}_iid" value="{{item.id}}">
                        </tr>
                    {%endfor%}
                </table>
            </div>

            {% if personagem %}
            <div name='carinho_compras' class="bloco-loja" >
                <form method="POST" action="{% url 'loja' %}"> 
                    {% csrf_token %}  
                    <input type="hidden" name="personagem" value="{{ personagem }}">
                    <table id='lista_compra' name='lista_compra'  class="tabela-loja" >
                        <tr>
                            <th>Nome</th>
                            <th>Quant.</th>
                            <th>valor</th>
                            <th>Peso</th>
                            <th>Ações</th>
                        </tr>

                        {% for item in inventario%}
                            <tr id='lc_{{item.nome_item}}' name='itemPegar'>
                                <td>
                                    <div class="popup" onclick="funcPopup( 'pop_{{item.nome}}' )">
                                        <span>{{item.nome_item}}</span>
                                        <span class="popuptext" id="pop_{{item.nome}}">{{item.descricao}}</span>
                                    </div>
                                    <!-- <input type="text" name="ItemNome" id="{{item.nome_item}}_N" value="{{item.nome_item}}"> -->
                                </td>
                                <td>
                                    <input type="number" name="itemQuantidade" id="{{item.nome_item}}_Q" value="{{item.quantidade}}">
                                </td>
                                <td>{{item.valor}}</td>
                                <td>{{item.peso}} kg</td>
                                <td><button type="button" onclick="remove_item('{{item.nome_item}}')">-</button></td>
                                <input type="hidden" id="moeda" value="{{item.moeda}}">
                                <input type="hidden" name='iid' value="{{item.item_id}}">
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <input type="submit" value="Comprar">
                </form>
            </div>
            {% endif %}
        </div>

    <script>
        const escuta = window.document.addEventListener('input', () => {
            console.log(escuta, "<- Escuta")
        })

        function funcPopup(elemento) {
            let popup = document.getElementById(elemento);
            popup.classList.toggle("show");
        }

        function remove_item(item) {
            console.log(item)
            // Pegando o item com os valores base
            var item_base = window.document.getElementById(item)
            var moeda = item_base.getElementsByTagName('input')[0].value
            var peso = item_base.getElementsByTagName('td')[2].textContent.replace(/kg/, '').replace(',','.')
            var valor = item_base.getElementsByTagName('td')[1].textContent.replace(/p./, '')

            if(window.document.getElementById(`${item}_Q`).value > 1){
                // Pegando o item na lista de compras
                item_lista = window.document.getElementById(`lc_${item}`)

                window.document.getElementById(`${item}_Q`).value --
                let quantidade = window.document.getElementById(`${item}_Q`).value

                //Pegando o preco escondido do item e multiplicando pela quantidade
                item_lista.getElementsByTagName('td')[2].innerText = `${valor*quantidade} ${moeda}`

                //Pegando o peso escondido do item e multiplicando pela quantidade
                item_lista.getElementsByTagName('td')[3].innerText = `${peso*quantidade} kg`
                
            }else{window.document.getElementById(`lc_${item}`).remove()}
        }

        
        function add_item(item) {
            const documento = window.document.getElementById('lista_compra')
            const item_comprado = window.document.getElementById(item)
            var nome_item = item_comprado.getElementsByTagName('td')[0].getElementsByTagName('span')[0].textContent
            var peso = item_comprado.getElementsByTagName('td')[2].textContent.replace(/kg/, '').replace(',','.')
            var valor = item_comprado.getElementsByTagName('td')[1].textContent.replace(/p./, '')
            var moeda = item_comprado.getElementsByTagName('input')[0].value
            var iid = window.document.getElementById(`${item}_iid`).value
            console.log(iid)
            
            // console.log(`Nome:${nome_item}`)
            // console.log(`Peso:${typeof peso}`)
            // console.log(`Preco:${valor}`)
            // console.log(`Moeda:${moeda}`)

            if(window.document.getElementById(`lc_${nome_item}`)) {
                let item_existente = window.document.getElementById(`lc_${nome_item}`);
                // Aumentando em 1 a quantidade do item
                window.document.getElementById(`${nome_item}_Q`).value ++
                //Pegando o valor atual de quantidade
                let quantidade = window.document.getElementById(`${nome_item}_Q`).value

                //Pegando o preco escondido do item e multiplicando pela quantidade
                item_existente.getElementsByTagName('td')[2].innerText = `${valor*quantidade} ${moeda}`

                //Pegando o peso escondido do item e multiplicando pela quantidade
                item_existente.getElementsByTagName('td')[3].innerText = `${peso*quantidade} kg`
                
            }else{
                let linha = documento.insertRow(-1);
                linha.id = `lc_${nome_item}`;
                linha.setAttribute('name','itemPegar');
                linha.insertCell(0).innerHTML = 
                `<input type="text" name="ItemNome" id="${nome_item}_N" value="${nome_item}">`
                
                linha.insertCell(1).innerHTML = 
                `<input type="number" name="itemQuantidade" id="${nome_item}_Q" value="1">`
                
                linha.insertCell(2).innerHTML = `${valor} ${moeda}`
                linha.insertCell(3).innerHTML = `${peso} kg`
                linha.insertCell(4).innerHTML = `<button type="button"onclick="remove_item('lc_${nome_item}')">-</button>
                 <input type="hidden" id="moeda" value="${moeda}">
                 <input type="hidden" name='iid' value="${iid}">`
                
                // novoLinha = document.createElement("tr");
                // novoLinha.setAttribute('name','itemPegar');
                // novaColuna1 = document.createElement("td");
                // novaColuna2 = document.createElement("td");

                // novaColuna1.innerHTML =  nome_item;
                // novaColuna1.innerHTML =  nome_item;
                // novaColuna2.innerHTML = `${valor} ${moeda}`;

                // novoLinha.appendChild(novaColuna1);
                // novoLinha.appendChild(novaColuna2);
                
                // documento.appendChild(novoLinha)
            }
        }
    </script>


{% endblock %}