{% extends 'base.html' %}
{% block base %}

    <form method="POST" action="{% url 'editar_ficha' %}">
        <input type="hidden" name="id" value="{{ base.id }}" >
        {% csrf_token %}
        <div style="border-color: black; border:2px solid black ; padding: 10px;" >
            <div name="area_base">
                <h3>Informações Básicas</h3>
                <p>ID:{{base.id}}</p>
                <label>Nome Personagem<input type="text" name="nome_personagem" value="{{base.nome_personagem}}"></label>
                <label>Raça<input type="text" name="raca" value="{{base.raca}}"></label>
                <label>Classe<input type="text" name="classe" value="{{base.classe}}"></label>
                <label>Arquetipo<input type="text" name="arquetipo" value="{{base.arquetipo}}"></label>
                <label>Nível<input type="number" name="nivel" value="{{base.nivel}}"></label>
                <br>
                <label>Antecedente<input type="text" name="antecedente" value="{{base.antecedente}}"></label>
                <label>Tendência<input type="text" name="tendencia" value="{{base.tendencia}}"></label>
                <label>Divindade<input type="text" name="divindade" value="{{base.divindade}}"></label>
                <label>Terra Natal<input type="text" name="terra_natal" value="{{base.terra_natal}}"></label>
                <label>Iniciativa<input type="number" name="iniciativa" value="{{base.iniciativa}}"></label>
                <label>C.A<input type="number" name="c_a" value="{{base.c_a}}"></label>
                <br>
                <label>Deslocamento<input type="number" name="deslocamento" value="{{base.deslocamento}}"></label>
                <label>Inspiração<input type="number" name="inspiracao" value="{{base.inspiracao}}"></label>
                <label>Proficiencia<input type="number" name="proficiencia" value="{{base.proficiencia}}"></label>
                <label>PV Maximo<input type="number" name="pv_maximo" value="{{base.pv_maximo}}"></label>
                <label>PV Atual<input type="number" name="pv_atual" value="{{base.pv_atual}}"></label>
                <label>Dados de Vida<input type="number" name="dados_vida" value="{{base.dados_vida}}"></label>
                <label>Idiomas<input type="text" name="idiomas" value="{{base.idiomas}}"></label>
            </div>

            <div name="area_habilidades">
                <h3>Habilidades</h3>
                <label>Força<input type="number" name="forca" value="{{base.forca}}"> </label>
                <label>Destreza<input type="number" name="destreza" value="{{base.destreza}}"> </label>
                <label>Constituição<input type="number" name="constituicao" value="{{base.constituicao}}"> </label>
                <br>
                <label>Integiência<input type="number" name="inteligencia" value="{{base.inteligencia}}"> </label>
                <label>Sabedoria<input type="number" name="sabedoria" value="{{base.sabedoria}}"> </label>
                <label>Carisma<input type="number" name="carisma" value="{{base.carisma}}"> </label>
            </div>

            <div name="area_teste_resistencia" >
                <h3>Teste De Resistencia</h3>
                <table>
                    <tr>
                        <th>TR</th>
                        <th>Prof</th>
                        <th>Outros</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <th>FOR</th>
                        <!-- <th><input type="hidden" name="res_for" id="res_for" value='False'></th>
                        <th><input type="checkbox" name="res_for" id="res_for" value='True'></th>
                        <th><input type="number" name="ores_for" id="ores_for" value="0"></th> -->

                        {% if base.res_for %}
                            <th><input type="checkbox" name="res_for" id="res_for" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="res_for" id="res_for" value="True"></th>
                        {% endif %}
                        
                        <th><input type="number" name="ores_for" id="ores_for" value="{{base.ores_for}}"></th>
                        <th><p>{{base.valor_res_for}}</p></th>
                    </tr>
                    <tr>
                        <th>DES</th>
                            {% if base.res_des %}
                                <th><input type="checkbox" name="res_des" id="res_des" checked value="True"></th>
                            {% else %}
                                <th><input type="checkbox" name="res_des" id="res_des" value="True"></th>
                            {% endif %}
                        <th><input type="number" name="ores_des" id="ores_des" value="{{base.ores_des}}"></th>
                        <th><p>{{base.valor_res_des}}</p></th>
                    </tr>
                    <tr>
                        <th>CONS</th>
                        <th>
                            {% if base.res_cons %}
                                <input type="checkbox" name="res_cons" id="res_cons" checked value="True">
                            {% else %}
                                <input type="checkbox" name="res_cons" id="res_cons" value="True">
                            {% endif %}
                        </th>
                        <th><input type="number" name="ores_cons" id="ores_cons" value="{{base.ores_cons}}"></th>
                        <th><p>{{base.valor_res_cons}}</p></th>
                    </tr>
                    <tr>
                        <th>INT</th>
                        <th>
                            {% if base.res_int %}
                                <input type="checkbox" name="res_int" id="res_int" checked value="True">
                            {% else %}
                                <input type="checkbox" name="res_int" id="res_int" value="True">
                            {% endif %}
                        </th>
                        <th><input type="number" name="ores_int" id="ores_int" value="{{base.ores_int}}"></th>
                        <th><p>{{base.valor_res_int}}</p></th>
                    </tr>
                    <tr>
                        <th>SAB</th>
                        <th>
                            {% if base.res_sab %}
                                <input type="checkbox" name="res_sab" id="res_sab" checked value="True">
                            {% else %}
                                <input type="checkbox" name="res_sab" id="res_sab" value="True">
                            {% endif %}
                        </th>
                        <th><input type="number" name="ores_sab" id="ores_sab" value="{{base.ores_sab}}"></th>
                        <th><p>{{base.valor_res_sab}}</p></th>
                    </tr>
                    <tr>
                        <th>CAR</th>
                        <th>
                            {% if base.res_car %}
                                <input type="checkbox" name="res_car" id="res_car" checked value="True">
                            {% else %}
                                <input type="checkbox" name="res_car" id="res_car" value="True">
                            {% endif %}
                        </th>
                        <th><input type="number" name="ores_car" id="ores_car" value="{{base.ores_car}}"></th>
                        <th><p>{{base.valor_res_car}}</p></th>
                    </tr>
                </table>
            </div>

            <div name="'area_pericias" >
                <h3>Pericias</h3>
                <table style="display: inline-block;">
                    <tr>
                        <th>Pericia</th>
                        <th>Prof</th>
                        <th>Outros</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <th>Acrobacia</th>
                        {% if base.acrobacia %}
                            <th><input type="checkbox" name="acrobacia" id="acrobacia" checked value="True" ></th>
                        {% else %}
                            <th><input type="checkbox" name="acrobacia" id="acrobacia" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_acrobacia" id="ot_acrobacia" value="{{base.ot_acrobacia}}"></th>
                        <th><p>{{ base.valor_acrobacia }}</p></th>
                    </tr>
                    <tr>
                        <th>Adestrar Animais</th>
                        {% if base.adestrar_animais %}
                            <th><input type="checkbox" name="adestrar_animais" id="adestrar_animais" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="adestrar_animais" id="adestrar_animais" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_adestrar_animais" id="ot_adestrar_animais" value="{{base.ot_adestrar_animais}}"></th>
                        <th><p>{{ base.valor_adestrar_animais }}</p></th>
                    </tr>
                    <tr>
                        <th>Arcanismo</th>
                        {% if base.arcanismo %}
                            <th><input type="checkbox" name="arcanismo" id="arcanismo" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="arcanismo" id="arcanismo" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_arcanismo" id="ot_arcanismo" value="{{base.ot_arcanismo}}"></th>
                        <th><p>{{ base.valor_arcanismo }}</p></th>
                    </tr>
                    <tr>
                        <th>Atletismo</th>
                        {% if base.atletismo %}
                            <th><input type="checkbox" name="atletismo" id="atletismo" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="atletismo" id="atletismo" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_atletismo" id="ot_atletismo" value="{{base.ot_atletismo}}"></th>
                        <th><p>{{ base.valor_atletismo }}</p></th>
                    </tr>
                    <tr>
                        <th>Atuação</th>
                        {% if base.atuacao %}
                            <th><input type="checkbox" name="atuacao" id="atuacao" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="atuacao" id="atuacao" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_atuacao" id="ot_atuacao" value="{{base.ot_atuacao}}"></th>
                        <th><p>{{ base.valor_atuacao }}</p></th>
                    </tr>
                    <tr>
                        <th>Enganação</th>
                        {% if base.enganacao %}
                            <th><input type="checkbox" name="enganacao" id="enganacao" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="enganacao" id="enganacao" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_enganacao" id="ot_enganacao" value="{{base.ot_enganacao}}"></th>
                        <th><p>{{ base.valor_enganacao }}</p></th>
                    </tr>
                    <tr>
                        <th>Furtividade</th>
                        {% if base.furtividade %}
                            <th><input type="checkbox" name="furtividade" id="furtividade" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="furtividade" id="furtividade" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_furtividade" id="ot_furtividade" value="{{base.ot_furtividade}}"></th>
                        <th><p>{{ base.valor_furtividade }}</p></th>
                    </tr>
                    <tr>
                        <th>História</th>
                        {% if base.historia %}
                            <th><input type="checkbox" name="historia" id="historia" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="historia" id="historia" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_historia" id="ot_historia" value="{{base.ot_historia}}"></th>
                        <th><p>{{ base.valor_historia }}</p></th>
                    </tr>
                    <tr>
                        <th>Intimidação</th>
                        {% if base.intimidacao %}
                            <th><input type="checkbox" name="intimidacao" id="intimidacao" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="intimidacao" id="intimidacao" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_intimidacao" id="ot_intimidacao" value="{{base.ot_intimidacao}}"></th>
                        <th><p>{{ base.valor_intimidacao }}</p></th>
                    </tr>
                </table>
                <table style="display: inline-block;">
                    <tr>
                        <th>Pericia</th>
                        <th>Prof</th>
                        <th>Outros</th>
                    </tr>
                    <tr>
                        <th>Intuição</th>
                        {% if base.intuicao %}
                            <th><input type="checkbox" name="intuicao" id="intuicao" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="intuicao" id="intuicao" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_intuicao" id="ot_intuicao" value="{{base.ot_intuicao}}"></th>
                        <th><p>{{ base.valor_intuicao }}</p></th>
                    </tr>
                    <tr>
                        <th>Investigação</th>
                        {% if base.investigação %}
                            <th><input type="checkbox" name="investigação" id="investigação" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="investigação" id="investigação" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_investigação" id="ot_investigação" value="{{base.ot_investigação}}"></th>
                        <th><p>{{ base.valor_investigação }}</p></th>
                    </tr>
                    <tr>
                        <th>Medicina</th>
                        {% if base.medicina %}
                            <th><input type="checkbox" name="medicina" id="medicina" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="medicina" id="medicina" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_medicina" id="ot_medicina" value="{{base.ot_medicina}}"></th>
                        <th><p>{{ base.valor_medicina }}</p></th>
                    </tr>
                    <tr>
                        <th>Natureza</th>
                        {% if base.natureza %}
                            <th><input type="checkbox" name="natureza" id="natureza" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="natureza" id="natureza" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_natureza" id="ot_natureza" value="{{base.ot_natureza}}"></th>
                        <th><p>{{ base.valor_natureza }}</p></th>
                    </tr>
                    <tr>
                        <th>Percepção</th>
                        {% if base.percepcao %}
                            <th><input type="checkbox" name="percepcao" id="percepcao" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="percepcao" id="percepcao" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_percepcao" id="ot_percepcao" value="{{base.ot_percepcao}}"></th>
                        <th><p>{{ base.valor_percepcao }}</p></th>
                    </tr>
                    <tr>
                        <th>Persuasão</th>
                        {% if base.persuasao %}
                            <th><input type="checkbox" name="persuasao" id="persuasao" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="persuasao" id="persuasao" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_persuasao" id="ot_persuasao" value="{{base.ot_persuasao}}"></th>
                        <th><p>{{ base.valor_persuasao }}</p></th>
                    </tr>
                    <tr>
                        <th>Prestidigitar</th>
                        {% if base.prestidigitar %}
                            <th><input type="checkbox" name="prestidigitar" id="prestidigitar" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="prestidigitar" id="prestidigitar" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_prestidigitar" id="ot_prestidigitar" value="{{base.ot_prestidigitar}}"></th>
                        <th><p>{{ base.valor_prestidigitar }}</p></th>
                    </tr>
                    <tr>
                        <th>Religião</th>
                        {% if base.religiao %}
                            <th><input type="checkbox" name="religiao" id="religiao" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="religiao" id="religiao" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_religiao" id="ot_religiao" value="{{base.ot_religiao}}"></th>
                        <th><p>{{ base.valor_religiao }}</p></th>
                    </tr>
                    <tr>
                        <th>Sobrevivência</th>
                        {% if base.sobrevivencia %}
                            <th><input type="checkbox" name="sobrevivencia" id="sobrevivencia" checked value="True"></th>
                        {% else %}
                            <th><input type="checkbox" name="sobrevivencia" id="sobrevivencia" value="True"></th>
                        {% endif %}
                        <th><input type="number" name="ot_sobrevivencia" id="ot_sobrevivencia" value="{{base.ot_sobrevivencia}}"></th>
                        <th><p>{{ base.valor_sobrevivencia }}</p></th>
                    </tr>
                </table>
            </div>
            
            <div name="area_habilidade_classe" 
            style="display: inline-block; margin-right: 10px; border-color: black; border:2px solid black ; padding: 10px;">
                <h3>Habilidades De Classe</h3>
                <table id="tabela_h_classe">
                    <tr>
                        <th>H.Classe
                            <button type="button" id="rem_h_classe" >-</button>
                            <button type="button" id="add_h_classe" >+</button>
                        </th>
                    </tr>
                        <form method="POST" action="">
                            {% csrf_token %}
                                {% for hc in habilidades %}
                                <tr>
                                    <th>
                                        <div class="popup" onmouseover="myFunction()">
                                            <input type="text" name="habilidade_classe" id="habilidade_classe" value="{{hc}}">
                                            <span class="popuptext" id="myPopup">Descrição</span>
                                        </div>
                                    </th>
                                </tr>
                                {% endfor %}
                        </form>
                    </tr>
                </table>
            </div>

            <script>
                function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
                }
            </script>




            <div name='area_talentos' 
            style="display: inline-block; margin-right: 10px; border-color: black; border:2px solid black ; padding: 10px;">
                <h3>Talentos</h3>
                <table id="tabela_talentos">
                    <tr>
                        <th>Talentos 
                            <button type="button" id="rem_talentos" >-</button> 
                            <button type="button" id="add_talentos" >+</button>
                        </th>
                    {% for talento in talentos%}    
                        </tr>
                            <th><input type="text" name="talentos_classe" id="talentos_classe" value="{{talento.talento}}"></th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
            <div name='area_caracteristicas_raciais' 
            style="display: inline-block; margin-right: 10px; border-color: black; border:2px solid black ; padding: 10px;">
                <h3>Caracteísticas Raciais</h3>
                <table id="tabela_c_racias">
                    <tr>
                        <th>Caracteísticas Raciais
                            <button type="button" id="rem_c_racias" >-</button>
                            <button type="button" id="add_c_racias" >+</button>
                        </th>
                    
                        {% for cr in cara_raciais %}
                        </tr>
                            <th><input type="text" name="cara_raciais_classe" id="cara_raciais_classe" value="{{cr}}"></th>
                        </tr>
                        {% endfor %}
                </table>
            </div>
            

            <input type="submit">
        </form>

        <script>
            let add_h_classe = window.document.getElementById('add_h_classe')
            let rem_h_classe = window.document.getElementById('rem_h_classe')

            add_h_classe.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_h_classe')
                let row = tabela.insertRow(-1);
                row.insertCell(0).innerHTML = `<th><input type="text" name="habilidade_classe" id="habilidade_classe"></th>`;
                row.insertCell(1).innerHTML = `<th><input type="submit" value="Salvar"></th>`;
                
            })
        
            rem_h_classe.addEventListener('click', function (event) {
                let tabela = window.document.getElementById('tabela_h_classe')
                tabela.deleteRow(-1)
            })
        </script>
        <script>
                let add_talentos = window.document.getElementById('add_talentos')
                let rem_talentos = window.document.getElementById('rem_talentos')
        
                add_talentos.addEventListener('click', function (event) {
                    let tabela = window.document.getElementById('tabela_talentos')
                    let row = tabela.insertRow(-1);
                    row.insertCell(0).innerHTML = `<th><input type="text" name="talentos_classe" id="talentos_classe"></th>`;
                    
                })
                rem_talentos.addEventListener('click', function (event) {
                    let tabela = window.document.getElementById('tabela_talentos')
                    tabela.deleteRow(-1)
                })
        </script>
        <script>
                let add_c_racias = window.document.getElementById('add_c_racias')
                let rem_c_racias = window.document.getElementById('rem_c_racias')

                add_c_racias.addEventListener('click', function (event) {
                    let tabela = window.document.getElementById('tabela_c_racias')
                    let row = tabela.insertRow(-1);
                    row.insertCell(0).innerHTML = `<th><input type="text" name="cara_raciais_classe" id="cara_raciais_classe"></th>`;
                    
                })

                rem_c_racias.addEventListener('click', function (event) {
                    let tabela = window.document.getElementById('tabela_c_racias')
                    tabela.deleteRow(-1)
                })

        </script>
    </div>
{% endblock%}