{% extends 'base.html' %}
{% block base %}
    {% load static %}
    <form method="POST" action="{% url 'editar_ficha' %}">
        <input type="hidden" name="id" value="{{ base.id }}" >
        {% csrf_token %}
        <div style="border-color: black; border:2px solid black ; padding: 10px;margin: 5px;">

            {% include 'partials/ficha_base.html' %}
            {% include 'partials/ficha_habilidades.html' %}
            {% include 'partials/ficha_inventario.html' %}
            {% include 'partials/ficha_testeResistencia.html' %}
            {% include 'partials/ficha_pericias.html' %}
            {% include 'partials/ficha_habilidadesClasse.html' %}
            {% include 'partials/ficha_talentos.html' %}
            {% include 'partials/ficha_caracteristicasRaciais.html' %}
            
            <input type="submit">
        </div>
    </form>
    <form action="{% url 'ver_ficha' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ base.id }}">
        <input type="submit" value="Deletar" name="deletar">
    </form>
    <script>
        function myFunction(elemento) {
        var popup = document.getElementById(elemento);
        popup.classList.toggle("show");
        }

        function remove_item(item) {
            let tabela = window.document.getElementById(item)
            tabela.deleteRow(-1)
        }

        function add_item(tabela,elemento) {
            let documento = window.document.getElementById(tabela)
            let linha = documento.insertRow(-1);
            linha.insertCell(0).innerHTML = `<th><input type="text" name="${elemento}" id="${elemento}"></th>`;
            linha.insertCell(1).innerHTML = `<th><input type="text" name="des_${elemento}" id="des_${elemento}"></th>`;
        }
    </script>


{% endblock%}