{% extends 'base.html' %}
{% load static %}
{% block base %}
    <link rel='stylesheet' href="{% static 'ver_ficha.css' %}">
    <div id="lista_personagens">
        <h2>Minhas Fichas</h2>
        <form action="{% url 'ver_ficha' %}" method="GET">
            {% for ficha in personagens %}
                <div>
                    <a href="{% url 'ver_ficha' %}?personagem={{ficha.nome_personagem}}" >{{ficha.nome_personagem|title}}</a>
                    <a href="{% url 'inventario' %}?personagem={{ficha.nome_personagem}}">Inventario</a>
                    <a>Magias</a>
                    <a href="{% url 'deletar_ficha' %}?personagem={{ficha.nome_personagem}}" >Excluir</a>
                </div>
            {% endfor %}
        </form>
        <br>
        <!-- <a href="{% url 'cria_ficha' %}">Criar Nova Ficha</a> -->
    </div>
    {% if base %}
        <div id="ficha">
            <form id="SalvarFicha" method="POST" action="{% url 'editar_ficha' %}">
                <input type="hidden" name="id" value="{{ base.id }}" >
                {% csrf_token %}
                <div>
                    {% include 'partials/ficha_base.html' %}
                    {% include 'partials/ficha_habilidades.html' %}
                    {% include 'partials/ficha_testeResistencia.html' %}
                    {% include 'partials/ficha_pericias.html' %}
                    {% include 'partials/ficha_habilidadesClasse.html' %}
                    {% include 'partials/ficha_caracteristicasRaciais.html' %}
                    {% include 'partials/ficha_talentos.html' %}
                    <input type="submit" value="Salvar">
                </div>
            </form>
        </div>
    {% endif %}
    {% if inventario %}
        {% include 'partials/ficha_inventario.html' %}
    {% endif %}
    <script>
        function myFunction(elemento) {
        var popup = document.getElementById(elemento);
        popup.classList.toggle("show");
        }

        function remove_habilidade(item) {
            let tabela = window.document.getElementById(item)
            tabela.deleteRow(-1)
        }

        function add_habilidade(tabela,elemento) {
            let documento = window.document.getElementById(tabela)
            let linha = documento.insertRow(-1);
            linha.insertCell(0).innerHTML = `<th><input type="text" name="${elemento}" id="${elemento}"></th>`;
            linha.insertCell(1).innerHTML = `<th><input type="text" name="des_${elemento}" id="des_${elemento}"></th>`;
        }
    </script>


{% endblock%}